{% extends 'gestion_pedidos/base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Buscar Pedidos</h2>
    <form method="get" action="{% url 'buscar_pedidos' %}">
        <div class="form-group">
            <label for="search-query">Buscar pedidos:</label>
            <div class="input-group">
                <input type="text" id="search-query" name="q" value="{{ query }}" class="form-control" placeholder="Buscar pedidos...">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </div>
    </form>
    <ul class="list-group mt-3">
        {% for pedido in resultados %}
            <li class="list-group-item">{{ pedido.cliente.nombre }} - {{ pedido.fecha_hora_pedido }} - {{ pedido.estado }}</li>
        {% empty %}
            <li class="list-group-item">No se encontraron resultados.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
