{% extends "base.html" %}

{% block title %}Error en el Checkout{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h2>Error en el Checkout</h2>
                </div>
                <div class="card-body">
                    <p>Ocurrió un error mientras procesábamos tu pedido. Por favor, inténtalo de nuevo.</p>
                    <p>Error: {{ error }}</p>
                    <a href="{% url 'carro' %}" class="btn btn-primary">Volver al Carro de Compras</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
