{% extends 'gestion_pedidos/../base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Detalle del Pedido{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="my-4">Detalle del Pedido</h1>
    <ul class="list-group mb-4">
        {% for detalle in detalles %}
            <li class="list-group-item">{{ detalle.cantidad }} x {{ detalle.plato.nombre }} - {{ detalle.subtotal }}€</li>
        {% endfor %}
    </ul>
    <form method="post" class="needs-validation disable-on-submit" novalidate>
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-6 mb-3">
                {{ detalle_form.plato|as_crispy_field }}
            </div>
            <div class="col-md-6 mb-3">
                {{ detalle_form.cantidad|as_crispy_field }}
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Añadir Plato</button>
    </form>
    <a href="{% url 'lista_pedidos' %}" class="btn btn-secondary mt-3">Volver a la Lista de Pedidos</a>
</div>
{% endblock %}
