{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-center">Bienvenido a El Comilón</h1>

    <!-- Carrusel -->
    <div id="carouselHero" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for i in featured_platos|slice:":3" %}
            <button type="button" data-bs-target="#carouselHero" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="{% if forloop.first %}true{% endif %}" aria-label="Slide {{ forloop.counter }}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for plato in featured_platos|slice:":3" %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{% static plato.imagen %}" class="d-block w-100 carousel-img" alt="{{ plato.nombre }}">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ plato.nombre }}</h5>
                    <p>{{ plato.descripcion }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHero" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselHero" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Platos Destacados -->
    <div class="row mt-5">
        <h2 class="text-center subheading">Platos Destacados</h2>
        {% for plato in featured_platos %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
                <img src="{% static plato.imagen %}" class="card-img-top img-fluid" alt="{{ plato.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ plato.nombre }}</h5>
                    <p class="card-text">{{ plato.descripcion }}</p>
                    <a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Platos -->
    <div class="row mt-5">
        <h2 class="text-center subheading">Platos</h2>
        {% for plato in platos %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
                <img src="{% static plato.imagen %}" class="card-img-top img-fluid" alt="{{ plato.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ plato.nombre }}</h5>
                    <p class="card-text">{{ plato.descripcion }}</p>
                    <a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
